@use './fonts' as *;
@use './variables' as *;

* {
    font-family: $body-font, Arial, Helvetica, sans-serif;
    color: $blue;
    line-height: 1.5;
}

h1, h2, h3 {
    font-family: $header-font, 'Times New Roman', Times, serif;
}

// Base font size: scales from 11px → 18px
$base-size: clamp(11px, 1vw + 0.6rem, 18px);

// Heading multipliers
$scale: (
  h6: 1.25,
  h5: 1.5,
  h4: 1.75,
  h3: 2,
  h2: 2.5,
  h1: 3
);

// Type scale variables
/* @link https://utopia.fyi/type/calculator?c=325,10,1.2,1440,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

// $step--2: clamp(0.434rem, 0.3507rem + 0.4104vw, 0.72rem);
// $step--1: clamp(0.5208rem, 0.4103rem + 0.5441vw, 0.9rem);
// $step-0: clamp(0.625rem, 0.4793rem + 0.7175vw, 1.125rem);
// $step-1: clamp(0.75rem, 0.5587rem + 0.9417vw, 1.4063rem);
// $step-2: clamp(0.9rem, 0.65rem + 1.2309vw, 1.7578rem);
// $step-3: clamp(1.08rem, 0.7543rem + 1.6033vw, 2.1973rem);
// $step-4: clamp(1.296rem, 0.8732rem + 2.0816vw, 2.7466rem);
// $step-5: clamp(1.5552rem, 1.0078rem + 2.6949vw, 3.4332rem);

$step--2: clamp(0.434rem, 0.3507rem + 0.4104vw, 0.72rem);
$step--1: clamp(0.5208rem, 0.4103rem + 0.5441vw, 0.9rem);
$step-0: 16px;
$step-1: clamp(0.75rem, 0.5587rem + 0.9417vw, 1.4063rem);
$step-2: clamp(0.9rem, 0.65rem + 1.2309vw, 1.7578rem);
$step-3: clamp(1.08rem, 0.7543rem + 1.6033vw, 2.1973rem);
$step-4: clamp(1.296rem, 0.8732rem + 2.0816vw, 2.7466rem);
$step-5: clamp(1.5552rem, 1.0078rem + 2.6949vw, 3.4332rem);

// Map HTML tags → scale variables
$type-scale: (
  h1: $step-5,
  h2: $step-4,
  h3: $step-3,
  h4: $step-2,
  h5: $step-1,
  h6: $step-0,
  "*":  $step--1,
  "p":  $step--1,
  "li":  $step--1,
  "button":  $step--1,
  "li a":  $step--1,
);

// // Generate CSS
// @each $tag, $size in $type-scale {
//   #{$tag} {
//     font-size: $size;
//     line-height: 1.4;
//   }
// }

* {
  font-size: $step-0;
}

h1 {
  font-size: $step-5;
}

h2 {
  font-size: $step-4;
}

h3 {
  font-size: $step-3;
}

h4 {
  font-size: $step-2;
}

h5 {
  font-size: $step-1;
  font-weight: 500;
}

h6 {
  font-size: $step-1;
  font-weight: 400;
}

