@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@font-face {
    font-family: "Bodoni";
    src: url("../../public/fonts/BodoniFLF-Bold.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../public/fonts/Montserrat-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../public/fonts/Montserrat-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

/* @font-face {
    font-family: "Montserrat";
    src: url("../../public/fonts/Montserrat-SemiBold.woff") format("woff");
    font-weight: 500;
    font-style: normal;
} */

@theme {
    --font-sans: "Montserrat", "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-serif: "Bodoni", "Arial";
    --white: #FDFCF7;
    --navy: #302F4C;
}

h1,
h2 {
    text-transform: uppercase;
}
