@media (max-width: 550px) {
    footer .content {
        flex-flow: column wrap;
        align-items: center;
    }
    footer .links {
        flex-flow: column wrap;
        align-items: baseline;
        justify-content: baseline;
    }
}
