
@media (max-width: 1024px) {
    .over_ons_photo {
        height: 55vh;
    }
}

@media (max-width: 768px) {
    .over_ons_photo {
        height: 45vh;
    }
}

@media (max-width: 480px) {
    .over_ons_photo {
        height: 35vh;
    }
}